# Environments
.conda/
.venv/
venv/
env/
__pycache__/

# Dependencies
node_modules/

# IDE
.vscode/

# Large Files
*.zip
*.rar

# OS files
.DS_Store
Thumbs.db

# Documentation to ignore
GUIA_DE_ESTUDIO.md
